<div class="col-md-12 col-lg-6 align-self-center d-flex flex-column gap-4" th:object="${house}">
    <div class="title">
        <p th:text="*{name}" class="h1 heading1 mb-0"> Дом №14 "Звездный" </p>
        <div class="row price-display align-items-center">
            <p class="col-auto fs-3 d-inline mb-0">ЦЕНА ЗА СУТКИ:</p>
            <p class="col-auto fs-3 d-inline mb-0" th:text="*{price}"></p>
            <p class="col-auto fs-3 d-inline p-0 mb-0">&#8381</p>
        </div>
    </div>
    <div>
        <p class="h3" >ОПИСАНИЕ</p>
<!--        th:text="*{description}"-->
        <p class="h6 fw-normal mb-0" >
            Коттедж имеет просторные апартаменты. Вы можете замечательно разместиться здесь большой
            компанией, однако, комфортнее всего и удобнее будет группе до 6 человек. В доме две просторные спальни
            и гостевые диваны, так что вы вряд ли будете чувствовать себя в чем-либо стесненным, даже если к вам
            приедут гости
        </p>
    </div>
    <div>
        <p class="h3">ФОТОГРАФИИ</p>
        <div class="row g-0">
            <div class="col-4 apartment-photo-div">
                <img class="apartment-photo" src="/media/apartment-photos/number14/Photo1.jpg" alt="">
            </div>
            <div class="col-4 apartment-photo-div">
                <img class="apartment-photo" src="/media/apartment-photos/number14/Photo2.jpg" alt="">
            </div>
            <div class="col-4 apartment-photo-div">
                <img class="apartment-photo" src="/media/apartment-photos/number14/Photo3.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<div class="col-md-12 col-lg-6">
    <img class="img-fluid w-100 default-map align-self-center" src="/media/Map.jpg" alt="">
</div>
