<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <title>Title</title>
</head>
<body>
<a class = "button" id = "btn1">кнопка 1</a>
<div id="container"> </div>
<script>
    $(document).ready(function(){
        $("#btn1").click(function(){
            $(this).load("time.html");
        })
    });
  function show(){

    // $.ajax({
    //   url: "time.html",
    //   chache: false,
    //   success: function(html){
    //     $("#container").html(html);
    //   }
    // });
  }
  // $(document).ready(function(){
  //   show();
  //   setInterval('show()',1000);
  // });
</script>

</body>
</html>