<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>IT School Project</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap" rel="stylesheet">
    <link href="../static/css/main.css" rel="stylesheet">
    <script type = "text/javascript" src = "https://code.jquery.com/jquery-3.3.1.min.js"></script>

</head>
<body>
<div class="banner">
    <img src="../static/media/banner.jpg" alt="Beautiful House"/>
    <div class="text">
        <div class="header">
            <h1 class="lato-black">
                Забронируйте свой лучший отдых
            </h1>
            <h3 class="lato-bold">
                В Гостевом комплексе "Эко-Деревня"
            </h3>
            <p class="lato-regular">
                Гостевой комплекс «Эко-деревня» — это база отдыха, расположенная в живописном месте,
                 недалеко от горнолыжного курорта «Банное». Гостям предлагается проживание в уютных домиках,
                 каждый из которых имеет веранду с мангальной зоной и шезлонгами.
            </p>
        </div>
        <div class="stats">
            <div class="houses">
                <p class="lato-bold" style="font-size: 42px;">
                    20
                </p>
                <p class="lato-bold">
                    Уникальных домов
                </p>
            </div>
            <hr>
            <div class="customers">
                <p class="lato-bold" style="font-size: 42px;">
                    500+
                </p>
                <p class="lato-bold">
                    Гостей нас посетило
                </p>
            </div>
            <hr>
            <div class="to-base">
                <h3 class="lato-bold" style="font-size: 42px;">
                    1 КМ
                </h3>
                <p class="lato-bold">
                    До Горнолыжного Центра
                </p>
            </div>
        </div>
        <a href="https://guns.lol/vovlik" class="lato-bold order-button">
            ЗАБРОНИРОВАТЬ
            <img src="../static/media/check-circle.svg" alt="">
        </a>
    </div>
</div>
<!--th:replace="../static/html/pattern.html :: house-info(house=${house})"-->
<div class = "main-section" id="main-section" >
    <div class="instruction" id = "instruction">
        <h1 class="lato-bold"> Как использовать интерактивный макет</h1>
        <p class="lato-regular">
            1. Возьмите с макета модельку заинтересовавшего вас дома<br>
            2. Расместите модельку дома на считывающем устройстве<br>
            3. Ознакомьтесь с информацией о доме и разместите его обратно на макет
        </p>
    </div>
<!--    затычка карты       -->
    <img class="map" id="map" src="../static/media/default-map.jpg" alt="">
</div>
<a id="btn" >click pls</a>

</body>
<script th:inline="javascript">
    window.onload = () => {
        setTimeout(() => {
            // Дадим время, чтобы страница загрузилась полностью.
            window.scrollTo(0, parseInt(sessionStorage.getItem('scrollPos')));
        }, 0); // Если нужно, откорректируйте задержку.
    };
    function change(data){
        $.ajax({
            url: '/pattern',
            data: {
                house: data
            },
            success: function(result){
                $("#main-section").fadeOut(500,function () {
                    $("#main-section").html(result)
                    $("#main-section").fadeIn(500)
                });

            }
        });

    }
    $(document).ready(function (){
        $("#btn").click(function(){
            change("test");
            // $("#map").animate({width: 'toggle'}, "slow");
        })
    });
    const socket =  new WebSocket('ws://localhost:8080/ws');
    socket.onmessage = function (event){
        change(event.data);

    }



</script>
</html>