*{
    margin: 0;
}
html{
    background-color: #E8EAEB;
    margin: 0;
    padding: 0;
}
.lato-black{
    font-size: 42px;
    font-weight: 900;
}
.lato-bold{
    font-size: 26px;
    font-weight: bold;
}
.lato-semibold{
    font-size: 20px;
    font-weight: 600;
}
.lato-regular {
    font-size: 16px;
    font-weight: normal;
}





.banner{
    position: relative;
    min-width: max-content;
    height: 600px;
    color: #E8EAEB;
}
.banner img{
    z-index: 0;
    width: 1520px;
    height: 600px;
    border-radius: 32px;
    object-fit: cover;
    object-position: center;
}
.banner .text{
    display: grid;
    z-index: 3;
    left: 0;
    top: 0;
    height: 100%;
    width: 45%;
    max-width: 675px;
    align-content: center;
    align-items: center;
    padding-left: 64px;
    row-gap: 40px;
    position: absolute;
}
.banner .text .header{
    display: grid;
    row-gap: 8px;
}
.banner:before{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    content: '';
    border-radius: 32px;
    background: linear-gradient(270deg, rgba(6, 6, 6, 0), rgba(6, 6, 6, 0.75) 100%);
    background-blend-mode: hard-light;
}
.header p{
    letter-spacing: 1.2px;
}
h3{
    display: flex;
    align-items: center;
}
h3:after{
    content: "";
    flex: 1;
    height: 2px;
    background-color: #E8EAEB;
    margin-left: 24px;
}
.stats{
    display: flex;
}
.stats h3{
    font-size: 42px;
}
.stats div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}
hr{
    width: 0;
    height: 64px;
    align-self: center;
}
.order-button {
    align-items: center;
    text-align: center;
    box-shadow: 0 0 32px 0 rgba(0,79,152,0.5);
    background-color:#004f98;
    border-radius:48px;
    width: fit-content;
    display:flex;
    cursor:pointer;
    color:#e8eaeb;
    font-size:16px;
    padding:16px 40px;
    text-decoration:none;
}
.order-button img{
    padding-left: 8px;
    width: 16px;
    height: 16px;
    filter: invert(97%) sepia(8%) saturate(43%) hue-rotate(155deg) brightness(97%) contrast(92%);
}
.order-button:hover {
    box-shadow: 0 0 32px 0 rgba(0,79,152,0.75);
    background-color:#0059ac;
}
.order-button:active {
    position:relative;
}






.main-section{
    display: flex;
    width: 1520px;
    justify-content: space-between;
    column-gap: 40px;
}
.main-info{
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}
.main-info div{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.title{
    row-gap: 8px;
}
.title .price{
    column-gap: 24px;
    flex-direction: row;
}
.description-text{
    line-height: 19px;
    letter-spacing: 1.2px;
}
.apartment-photos{
    display: flex;
    column-gap: 40px;
}
.apartment-photos img{
    width: 220px;
    height: 165px;
    border-radius: 16px;
}
.map{
    right: 0;
    top: 0;
    border-radius: 32px;
}








h1,
h2{
    text-transform: uppercase;
}
body{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    margin: 0;
    padding: 40px 200px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #252422;
}