<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <title>Title</title>
</head>

<body>

<label for="btn1">Enter Data:</label>
<input type = "text" id = "btn1" name = "test" placeholder="Введи что-то">
<button onclick="dataSend()">Send GET Request</button>
<div id="container"></div>


<script>
    function dataSend() {
        const btn = document.getElementById('btn1');
        socket.send(btn.value);
    }
    const socket = new WebSocket('ws:/localhost:8080/ws');

    socket.onopen = function() {
        console.log('Соединение установлено');
    };

    socket.onmessage = function(event) {
        console.log('Получено сообщение: ' + event.data);
    };

    socket.onclose = function() {
        console.log('Соединение закрыто');
    };

    socket.onerror = function(event) {
        console.log('Ошибка: ' + event);
    };
</script>

</body>
</html>